{% extends "base.html" %} {% block content %} {% for message_to_show in
messages_to_show %}
<li class="{{'logged' if message_to_show.sender_name == logged_user_name}}">
  {{ message_to_show.sender_name }}: {{ message_to_show.content }}
</li>
{% endfor %}

<form method="POST" action="">
  {{ send_message_form.hidden_tag() }}

  <label for="">{{ send_message_form.message_field.label }}</label>
  {{ send_message_form.message_field }} <br />

  {{ send_message_form.submit_send_message }}
</form>

{% endblock %}
